.addBookWrapper {
  min-height: 98vh;
  background-color: #e0f7fa;
  .add-book-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    .book-form {
      display: flex;
      flex-direction: column;

      .formInput {
        margin-bottom: 1rem;
        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        textarea {
          resize: vertical;
        }
      }
    }
  }
}
